@import '../../../main.scss';

div.item {
    padding: 40px;
    flex: 1;

    img {
        width: 150px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
    }

    h3 {
        color: $color-quaternary;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        margin: 1rem 0;
        color: $color-tertiary;
    }
}