@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

$color-primary : #fff;
$color-secondary : #00bc77;
$color-tertiary : #2c3e50;

@mixin display($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}