@import '../../main.scss';

div.form {
    background-color: white;
    padding: 2rem;
    margin: 94px 0;

    h1 {
        color: $color-tertiary;
    }

    form {
        @include display(flex, column, center, start);
        color: $color-tertiary;

        div.input-wrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;

            label {
                font-weight: bold;
            }

            input {
                padding: 5px;
                font-size: 1.2rem;
            }
        }

        div.input-remember {
            display: flex;

            label {
                margin-left: 0.25rem;
            }
        }
    }
}